.nav-item{
    margin-left: 1rem;
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: 0.5rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: rgb(155, 155, 155);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(70, 70, 70);    /* color of the scroll thumb */
    border-radius: 2rem;
}

.project-box {
    box-shadow: 0 0 2rem 0 #888888;
    background-color: white;
    width:100%;
    padding:1rem;
    height:100%;
    text-align: justify!important;
}

.project-box:hover {
    box-shadow: 0 0 3rem 0 #888888;
}

.project-box-focus {
    box-shadow: 0 0 3rem 0 #6b6b6b !important;
}

.hidden-element{
    display: none !important;
}

.w-5{
    width:10%
}

/* input[type="range"] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 200px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 70% 100%;
    background-repeat: no-repeat;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  } */